<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key = "width" value = "1920"/>
    <add key = "height" value = "1200"/>
    <add key = "framelimit" value = "24"/>
    <add key = "stars" value = "0.2"/>
    <add key = "dots" value = "0.2"/>
  </appSettings>
</configuration>